# This document is used to compare two datasets numerically.

In [1]:
import sys
sys.path.insert(0, '../src/')

import pandas as pd
import matplotlib.pyplot as plt
import outputComparison as oc
%matplotlib inline

In [2]:
dfConst = pd.read_csv('../datasets/constantOutput.csv',
                 names=['time', 'v1', 'v2'])
dfAdapt = pd.read_csv('../datasets/adaptiveOutput.csv',
                 names=['time', 'v1', 'v2'])
dfConst.head()

     time        v1        v2
0  0.0000 -0.070000 -0.050000
1  0.0002 -0.069878 -0.049985
2  0.0004 -0.069760 -0.049987
3  0.0006 -0.069642 -0.049990
4  0.0008 -0.069526 -0.049993

In [3]:
oc.EvaluateSets(dfConst, dfAdapt, cols=['v1', 'v2'])

     Euclid   Supremum          MSE       RMSE     NRMSE
v1   7.7097  0.0618586  0.000118903  0.0109043  0.151227
v2  7.85855   0.061342  0.000123538  0.0111148   0.17507